RewriteEngine On
DirectoryIndex index.php

# Se for arquivo real → não reescreve
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Se for diretório real → não reescreve
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Tudo o resto vai pro index.php
RewriteRule ^ index.php [L]