RewriteEngine On

# Garante que estamos usando o diretório correto
RewriteBase /

# Se NÃO for arquivo ou pasta real...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para o front controller
RewriteRule ^ public_html/index.php [L]